/*--------------------------------------------------------------------------------------

#header {
  text-align: left; /* Left-align text
  padding: 12px; /* Add padding
}

/*--------------------------------------------------------------------------------------*/

.logpage {
    /* General */
	font-family: "Lucida Sans Typewriter", "Courier New", Courier, monospace;
	font-size: 100%;
   	color: White;
	margin: 15px;
   	padding: 15px;
    
    /* The image used */
    background-image: url("/images/parallax.jpg");

    /* Set a specific height */
    min-height: cover;
    max-width: cover;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

/*--------------------------------------------------------------------------------------*/

#searchInput {
  background-image: url('/images/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-top: 12px; /* Add some space above the input */
  margin-bottom: 12px; /* Add some space below the input */
}

/*--------------------------------------------------------------------------------------*/

.logpage a {
	color: Crimson;
    background-color: none;
	border: none;
	margin-top: none;
	padding: none;
	text-align: center;
	text-decoration: underline;
	display: inline-block;
	font-size: 11px;
}

.logpage a:link a:visited a:active {
	color: LightCoral;
    background-color: none;
   	margin-top: none;
	padding: none;
	text-align: center;
	text-decoration: underline;
	display: inline-block;
	font-size: 11px;
}

.logpage a:hover {
    color: IndianRed;
    background-color: none;
    border: none;
	margin-top: none;
	padding: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 11px;
}

/*--------------------------------------------------------------------------------------*/

.logpage hr {
	color: #DDDDDD;
}

.logpage table {
	width: 100%;
}

.logpage tr, td, th {
	padding: 11px;
	margin: 5px;
	vertical-align: top;
	border: none;
    color: White;
	background-color: Black;
    width: 100%; /* Full-width */
    font-size: 15px; /* Increase font-size */
}

.logpage th {
	height: 5%;
    background-color: none;
}

.logpage h1 {
	font-size: 150%;
    color: White;
	text-align: center;
	padding: 8px;
}

.logpage h2 {
	font-size: 125%;
	text-align: center;
	color: White;
	background-color: none;
	padding: 8px;
}

.logpage h3 {
	font-size: 110%;
	text-align: left;
	color: White;
	padding-bottom: 10px;
}

.logpage hr {
    background-color: Crimson;
    width: default;
    height: 1px;
    border: none;
}

/*--------------------------------------------------------------------------------------*/

.imagefields
{
	text-align:center;
	display:block;
	margin-left: auto;
	margin-right: auto;
	background-color: Black;
    border-bottom: 1px solid Crimson;
    border-left: 1px solid Crimson;
    border-right: 1px solid Crimson;
	width: 95%;
}

.imagefields h3 {
	font-size: 110%;
	text-align: center;
	color: White;
	background-color: Black;
    border-bottom: 1px solid Crimson;
    border-top: 1px solid Crimson;
	padding: 10px;
}

.imagefields img {
	max-width: 100%;
	height: auto;
}

/*--------------------------------------------------------------------------------------*/

.logpage button {
	background-color: Crimson;
	border: none;
	color: White;
	margin-top: 30px;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 11px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.logpage button:hover {
    background-color: IndianRed;
    border: none;
	color: White;
	margin-top: 30px;
    padding: 10px 32px;
	text-align: center;
	text-decoration: underline;
	display: inline-block;
	font-size: 11px;
}

/*--------------------------------------------------------------------------------------*/